.footer {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  padding: 92px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 810px) {
  .footer {
    max-width: calc(100% - 48px);
    padding: 88px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: 42px;
    padding: 64px 0 24px;
  }
}
