.place__website {
  padding: 0;
  margin: 0;
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 712px) {
  .place__website {
    width: 90%;
    margin: 0 auto;
  }
}
